<!DOCTYPE html>
<html  ng-app ng-csp>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<script src="jquery-1.11.1.js"></script>
	<script src="angular.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>


	<script src="myscript.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Basketball statistics</title>
</head>
<body>
	<div id="chart_div"></div>
	<div id="chart_buttons">
		<p>Charts : </p>
		<button id="ppg" onclick="drawppg()">PPG</button>
		<button id="fgp" onclick="drawfgp()">FG%</button>
	</div>
	<div ng-app="" ng-controller="timeController" id="time_div" >
		from:
		<input id="from" type="text" ng-model="FROM" ng-change="changeFrom()"/>
		to:
		<input id="from" type="text" ng-model="TO" ng-change="changeTo()"/>
	</div>
	
</body>

</html>