
body{margin:0;padding:0}
#body{width:800px ; margin:auto} 

#chart_buttons{
margin-left: 100px;

}
p{
	display: inline;
}

#slider-range{
	margin-left: 150px;
	margin-top: 10px;
	width: 500px;
}

label {
	margin-left: 300px;
}